:root {
  --primary-color: rgba(13, 110, 253, 0.7);
}
.hero {
  background-image: url("/img/hero.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  padding: 170px 0;
  margin: 0 60px;
  border-radius: 10px;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  padding-top: 30px;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400px;
}
h1,
h2 {
  color: white;
  margin: 10px;
}

.btn-light {
  margin: 30px 20px;
  font-family: "Open Sans", sans-serif !important;
}
.sub-heading {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  padding: 20px 0 0 0;
}
.heading {
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin: 10px 0;
  text-align: center;
  text-decoration: underline;
}
.home-paragraph {
  font-family: "Open Sans", sans-serif;
  line-height: 1, 5;
  text-align: center;
  font-size: 15px;
}
.img-fluid {
  display: block;
  margin: 0 auto;
}
.home-img {
  background: linear-gradient(in oklab, rgba(11, 94, 215, 0.8), white);
}
.img {
  width: 50%;
}

@media (max-width: 768px) {
  .home-img {
    display: none;
  }
  .home-paragraph {
    margin: 0 auto;
  }
  .col-5 {
    width: 100%;
  }
  .hero {
    background-image: url("/img/hero.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    padding: 170px 0;
    margin: 0 60px;
    border-radius: 10px;
  }
  .content-styling {
    border: solid 1px blue;
    margin: 0 auto;
  }
}
