.hero {
  background-image: url("/img/hero.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  padding: 170px 0;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400px;
}
h1,
h2 {
  color: white;
  margin: 10px;
}

.btn-primary {
  margin: 30px 20px;
}
