:root {
  --primary-color: rgba(13, 110, 253, 0.7);
  --linear-gradient-primary: linear-gradient(
    in oklab,
    rgba(11, 94, 215, 0.8),
    white
  );
}
.hero {
  background-image: url("/img/hero.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  padding: 170px 0;
  margin: 0 60px;
  border-radius: 10px;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  padding-top: 30px;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400px;
}
h1,
h2 {
  color: white;
  margin: 10px;
}

.btn-light {
  margin: 30px 20px;
  font-family: "Open Sans", sans-serif !important;
}
.sub-heading {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  padding: 20px 0 0 0;
}
.heading {
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin: 10px 0;
  text-align: center;
  text-decoration: underline;
}
.home-paragraph {
  font-family: "Open Sans", sans-serif;
  line-height: 1, 5;
  text-align: center;
  font-size: 15px;
}
.img-fluid {
  display: block;
  margin: 0 auto;
}
.home-img {
  background: var(--linear-gradient-primary);
}
.img {
  width: 50%;
}
.about-wrapper {
  background: var(--linear-gradient-primary);
  border: solid 1px var(--primary-color);
  border-radius: 10px;
}
.about-content h1,
h2 {
  color: black;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .body {
    margin: 0 20px;
  }
  .home-img {
    display: none;
  }
  .home-paragraph {
    margin: 0 auto;
  }
  .col-5 {
    width: 100%;
  }
  .hero {
    background-image: url("/img/hero.jpeg");
    background-repeat: no-repeat;
    background-size: 700px 600px;
    text-align: left;
    margin: 0 auto;
    border-radius: 10px;
    padding-bottom: none;
  }
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 15px;
  }
  h1,
  h2 {
    padding: 0;
    margin: 0;
  }
  .btn-contact {
    font-size: 13px !important;
    margin-left: 0;
  }
  .content-styling {
    border: solid 1px blue;
    margin: 0 auto;
  }
}
